<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
</head>

<body>
    <form action="/ascii-art" method="post">
                    <label for="text">Enter text:</label>
                    <div>
                    <textarea name="text" maxlength="1024" required></textarea>
                    </div>
                    <label>Choose banner:</label>
                        <label>
                            <input type="radio" name="banner" value="standard"> standard</input>                                
                        <label>
                            <label>
                            <input type="radio" name="banner" value="shadow"> shadow </input>
                        </label>
                            <label>
                            <input type="radio" name="banner" value="thinkertoy"> thinkertoy </input>
                            </label>
                        <button type="submit" name = "submit">generate</button>
    </form>
</body>
</html>
