<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/ascii-art" method="POST">
                    <label for="text">Enter text:</label>
                    <textarea name="text" > </textarea>

                    <label>Choose banner:</label>
                        <label class="radio-option">
                            <input type="radio" name="banner" value="standard"> standard</input>                  
                        <label class="radio-option">
                            <label class="radio-option">
                            <input type="radio" name="banner" value="shadow"> shadow </input>
                        </label>
                            <label class="radio-option">
                            <input type="radio" name="banner" value="thinkertoy"> thinkertoy </input>
                            </label>
                        <button type="submit" name = "submit">submit</button>
                     
    </form>
    {{if .Result}}
    <pre> {{ .Result }} </pre>
    {{end}}
</body>
</html>
